
* {
    margin: 0px;
    padding: 0px;
}

.NavBar {
    background-color: rgba(231, 232, 242, 0.516);
    width: 100%;
    height: 100px;
    color: rgb(38, 74, 154);
    display: flex;
    justify-content: center;
    align-items: center;
}
.App{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}